# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python environment
*.egg-info/

# CSVs or data files (optional)
# cleaned_movies.csv

